<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Product List</h2>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prd of products | async">
            <td>{{prd.productName}}</td>
            <td>{{prd.quantity}}</td>
            <td>{{prd.price}}</td>
            <td><button (click)="deleteProduct(prd.id)" class="btn btn-danger">Delete</button>
                <button (click)="productDetails(prd.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
